@charset 'utf-8';
/** 此样式表用于设定全局变量
 *  Version: 1.0-dev / Date: 2024-03-03
 */

// 主题颜色设定
@c-color-theme: #7986cb;
@c-color-theme-dark: #5c6bc0;
@c-color-theme-darker: #434a71;
@c-color-theme-light: #b5bce2;
@c-color-theme-lighter: #e9eaf6;