.introduction {
    overflow: hidden;
    .avatar {
        float: left;
    }
    .info {
        float: right;
    }
}
.content {
    background-color: rgba(255, 255, 255, 0.25);
    // backdrop-filter: blur(3px); 不用，会导致页面卡顿
    .card-list{
        padding: 20px;
    }
    .footer {
        padding: 30px;
        text-align: center;
    }
}