@charset 'utf-8';
.introduction {
    overflow: hidden;
    .avatar {
        float: left;
    }
    .info {
        float: right;
    }
}
.content {
    .title {
        padding: 50px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }
    .menu {
        color: #444;
        font-size: 24px;
    }
    .mdui-card {
        margin: 20px 10px;
    }
    .footer {
        padding: 30px;
        text-align: center;
    }
}