@charset 'utf-8';
body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'iconfont';  /* Project id 3626945 */
    src: url('//at.alicdn.com/t/c/font_3626945_4li9tpqjoq4.woff2?t=1662338516799') format('woff2'),
         url('//at.alicdn.com/t/c/font_3626945_4li9tpqjoq4.woff?t=1662338516799') format('woff'),
         url('//at.alicdn.com/t/c/font_3626945_4li9tpqjoq4.ttf?t=1662338516799') format('truetype');
}
.content {
    /* backdrop-filter: blur(3px); 不用，会导致页面卡顿 */
    background-color: rgba(255, 255, 255, 0.25);
}
.content .contacts {
    padding: 10px;
    text-align: center;
    font-family: 'iconfont';
}
.content .contacts .mdui-btn-icon {
    line-height: 48px;
    margin: auto;
    margin: 5px;
    font-family: 'iconfont';
    width: 48px;
    height: 48px;
}
/* 对于不同的设备设置不同的.content */
@media screen and (min-width: 800px) {
    .content {
        padding: 0 10%;
    }
}
@media screen and (min-width: 1366px) {
    .appbar {
        padding: 0 15%;
    }
    .content {
        padding: 0 15%;
    }
}