---
// 导入数据 & 布局
import 'normalize.css/normalize.css'
import config from '../../config/config'
import Layout from '@/layouts/Layout.astro'

// 导入组件
import Appbar from '@/components/Appbar.astro'
import Banner from '@/components/Banner.astro'
import Catalog from '@/components/Catalog.astro'
import Footer from '@/components/Footer.astro'

// 引入页面模块
import Links from '@/components/main/Links.astro'
---

<Layout title={ config.site.name + config.site.suffix } description={ config.site.seoDescription }>
	<!-- Part 1 顶栏 -->
	<Appbar title={ config.site.name } nav={ config.nav } />

	<!-- Part 2 主体  -->
	<main>
		<Banner info={ config.site } social={ config.social } />

		<Catalog>咱的好东西！</Catalog>
		<Links to={ config.links } />
	</main>

	<!-- Part 3 页脚 -->
	<Footer content={ config.footer } />
</Layout>

<style is:global lang="less">
	@import url('@/styles/global.less');

	// 基础样式
	* {
		font-family: @c-font-family;

		main {
			padding: var(--main-padding-top) var(--main-padding-horiziontal) 0;
		}
	}

	// 响应式适配 ---- PC
	@media screen and (min-width: 1024px) {
		body {
			--main-padding-top: 9em;
			--main-padding-horiziontal: @c-layout-banner-padding;
		}
	}

	// 响应式适配 ---- 移动端
	@media screen and (max-width: 1024px) {
		body {
			--main-padding-top: 8em;
			--main-padding-horiziontal: 2em;
		}
	}
</style>
