---
// 导入数据 & 布局
import 'normalize.css/normalize.css'
import config from '../../config/config.ts'
import Layout from '../layouts/Layout.astro'

// 导入组件
import Appbar from '../components/Appbar.astro'
import Banner from '../components/Banner.astro'
import Footer from '../components/Footer.astro'
---

<Layout title={ config.site.name + config.site.suffix } description={ config.site.seoDescription }>
	<!-- Part 1 顶栏 -->
	<Appbar title={ config.site.name } nav={ config.nav } />

	<!-- Part 2 主体  -->
	<main>
		<Banner info={ config.site } social={ config.social } />
	</main>

	<!-- Part 3 页脚 -->
	<Footer />
</Layout>

<style is:global lang="less">
/** 此处样式表用于设定全局基础样式
 *  Version: 1.0-dev / Date: 2024-03-13
 */
@import url('../styles/global.less');

* {
	font-family: @c-font-family;
}

main {
	padding: 7.5em @c-layout-banner-padding 0;
}

</style>
