---
// 导入数据 & 布局
import config from '../../config/config.ts'
import Layout from '../layouts/Layout.astro'

// 导入组件
import Appbar from '../components/Appbar.astro'
---

<Layout title={ config.site.name + config.site.suffix }>
	<!-- Part 1 顶栏 -->
	<Appbar></Appbar>

	<!-- Part 2 主内容 -->
	<main></main>

	<!-- Part 3 页脚 -->
	<footer></footer>
</Layout>

<style lang="less">

</style>
