---
interface Props {
    content: customObject
}
const { content } = Astro.props
// 
---

<footer class="text-center mt-6 py-6 text-md leading-7">
    <p>{ content.copyright }</p>
    <p set:html={ content.beian } />
</footer>

<style lang="less">
    @import url('@/styles/global.less');

    footer {
        border-top: 1px solid @c-color-bar-border;
        color: #666;

        p > a:hover {
            color: @c-color-theme;
        }
    }
</style>

<style is:global>
    footer img {
        display: inline-block;
        width: 16px;
        height: 16px;
    }
</style>