@charset 'utf-8';
/* 此样式表用于全局的变量设定
 * Date: 2023-08-17 / Version: 0.2.0 / Author: crrashh1542
 */

:root {
   // 字体
   --ch-font-family: 'PingFang SC', 'iconfont';

   // 主题颜色
   --ch-color-theme: #7986cb;
   --ch-color-theme-dark: #5c6bc0;
   --ch-color-theme-darker: #5c6bc0;
   --ch-color-theme-light: #9199d4;
   --ch-color-theme-lighter: #bdc1e5;

   // 其它颜色
   --ch-color-bg-shade: rgba(255, 255, 255, .75);
   --ch-color-link-nav: #888;
   --ch-color-link-icon: #bbb;

   // 布局
   --ch-layout-nav-height: 64px;
   --ch-layout-icon-size: 48px;
}