---
interface Props {
	title: string;
   description: string;
}
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="generator" content={ Astro.generator } />
		<title>{ title }</title>
	</head>
	<body>
		<slot />
	</body>
</html>
