---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="云萧的个人主页，基于 Astro 构建" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

</style>
